$primary-color: #6667ab;

// variable here
$primary-color: #6667ab;
$primary-text: #333333;
$white-color: #ffffff;
$primary-light: #8a8bcf;
$primary-super-light: #f1f1ff;
$text-blur: #707070;
$grey-color: #cccccc;
$grey-light: #f2f2f2;
$red-color: #dd0000;
$google-color: #ea4335;
$facebook-color: #3b5998;
$shadow-dropdown-color: 1px 1px 6px rgba(0, 0, 0, 0.25);

$spaceMap: (
  "p": "padding",
  "pt": "padding-top",
  "pb": "padding-bottom",
  "pl": "padding-left",
  "pr": "padding-right",
  "m": "margin",
  "mt": "margin-top",
  "mb": "margin-bottom",
  "ml": "margin-left",
  "mr": "margin-right",
);
